.trending-content{
    .trending_carousel{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: aliceblue;
        padding-top: 20px;
        padding-bottom: 20px;
    }
   
}